.get-started-container {
    padding: 2rem 6rem 0 6rem;
    margin-left: auto;
}

.h2 {
    font-weight: 700;
}

.file-upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-upload + label {
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

.file-upload:focus + label,
.file-upload + label:hover {
    background-color: #FE5592;
}

.file-upload:focus + label {
    outline: 1px dotted #000;
    outline: webkit-focus-ring-color auto 5px;
}